:root {
    --cursive:  cursive;
}

body{
    margin: 0;
}

header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('../images/hero.jpg');
    background-size:cover;
    background-position: top;
    height: 190px;
    color: whitesmoke; 
    text-align: center;   
}

h1{
    padding-top: 30px;
    font-size: 2.5rem;
}

h1+p{
    font-size: 1.5rem;
}

h1, h1+p{
    font-family: var(--cursive);
    margin:0px ;
}


main{
    font-family:var(--cursive);
    font-size: 1.5rem;
}

.emoji{
   font-size: 4.375rem;
}

.apparels-container{
    display: flex;
    margin: 60px;
}

.apparelInfoContainer{
    padding: 0px 30px 0px 30px;
}

.addBtn{
    cursor: pointer;
    align-self:center;
    margin-left: auto ; 
}

.itemName{
    font-size: 1.5rem;
    margin: 0px;
}

.itemMaterials, .removeBtn{
    color: gray;
    font-size: 1rem;
}

h2{
    text-align: center;
}

.orderListContainer{
    display: flex;
    margin:0px 30px 0px 30px;
}

.addedItemPrice{
    margin-left: auto;
}

.removeBtn{
    margin: 8px;
    cursor: pointer;
}
.total-amt-label{
     margin:0px 70px 0px 70px;
}

input, form>button{
    display: block;
    width: 400px;
    height: 50px;
    margin: 0 auto;

}

.modal{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    background-color: white;
    width: 500px;
    height: 500px;
    text-align: center;
}